*{
    margin: 0;
    padding: 0;
}
.bg-color {
    background-color: r  gba(219, 216, 216, 0.5);
    /* width: 52%; */
    padding: 20px;
    margin: 0 230px;
    display: grid;
    justify-content: center;
}
.grid-container{
    display: grid;
    place-items: center;
}
.curent-border{
    border-radius: 10px;
    margin: 5px 0;

}
.nav-padding{
    padding: 7px 0px;
}
.sign-margin{
   text-align: center;
}
.footer-color span{
    color: red;
}
.footer-color{
    font-size: 12px;
}
.form-control{
    width: 300px !important;
}
a{
    text-decoration: none;
}


.eye-icon{
    position: relative;
    top: -30px;
    left: 300px;
    bottom: 0;
    right: 0;
}

#loadingSpinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}


@media (max-width:768px){
    .bg-color {
        margin: 0px;
        width: 100%;  
        
    }
}

@media (max-width:576px){
    .form-control{
        width: 100% !important;
    }
}
@media (max-width:992px){
    .bg-color {
        margin: 0px;
        width: 100%;  
        
    }
}
